# This is a config file
#
# Lines starting with '#' are ignored
#

# Empty lines are also ignored


# We can write 'name : value' pairs
paramName : parameter_value

# We can also write 'name = value' pairs
file1 = /path/to/file_1.txt

# ...and we can also write 'name \t value' pairs
file2 	 /path/to/file_2.txt

# So, ':', '=', and '\t' can be used to separate <name,value> pairs
file3 : /path/to/file_3.txt
file4 = /path/to/file_4.txt
file5 	 /path/to/file_5.txt
