
#-------------------------------------------------------------------------------
#
# BigDataScript configuration file
#
#																Pablo Cingolani
#-------------------------------------------------------------------------------

#---
# SSH cluster nodes stored here
# 
# Format: user@host[:port]
#---
ssh.nodes = eq8302@ehs.grid.wayne.edu	\
			, pcingo@mcbbigram.cs.mcgill.ca:22 \
			, pablo.cingolani@grandiflora.eeb.utoronto.ca:24 \
			, pablo.cingolani@mustang.biol.mcgill.ca:24 

# ssh.nodes = eq8302@ehs.grid.wayne.edu

